<section class="section best-seller">
  <div class="container">
    <div class="row align-items-center title-view-more">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h4 class="section_title">Best Sellers</h4>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 text-right">
        <a href="javascript: void(0)">View More <i class="fa fa-arrow-right ml-2"></i></a>
      </div>
    </div>
    <a href="#"></a>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="seller_box">
          <div class="seller_image">
            <img src="../../../../assets/images/seller/saller-1.png" alt="seller">
          </div>
          <strong>Shopno BD</strong>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="seller_box">
          <div class="seller_image">
            <img src="../../../../assets/images/seller/saller-1.png" alt="seller">
          </div>
          <strong>Shopno BD</strong>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="seller_box">
          <div class="seller_image">
            <img src="../../../../assets/images/seller/saller-1.png" alt="seller">
          </div>
          <strong>Shopno BD</strong>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="seller_box">
          <div class="seller_image">
            <img src="../../../../assets/images/seller/saller-1.png" alt="seller">
          </div>
          <strong>Shopno BD</strong>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="seller_box">
          <div class="seller_image">
            <img src="../../../../assets/images/seller/saller-1.png" alt="seller">
          </div>
          <strong>Shopno BD</strong>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="seller_box">
          <div class="seller_image">
            <img src="../../../../assets/images/seller/saller-1.png" alt="seller">
          </div>
          <strong>Shopno BD</strong>
        </div>
      </div>
    </div>
  </div>
</section>
