.middle_menue{
  padding-top: 7px;
  nav{
    padding: 0;
    background-color: transparent !important;
    .nav-link{
      font-weight: 500;
      min-height: 45px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.all_category_btn{
        min-width: 170px;
        border-radius: 4px 4px 0px 0px;
      }

    }
    .btn-seller{
      margin-top: -5px;
    }
    .dropdown{
      .dropdown-item{
        font-size: 14px;
      }
    }
  }
}
