<section class="section product-view">
  <div class="container">
    <nav class="breadcrumb mb-4">
      <a class="breadcrumb-item" href="javascript: void(0)">Home</a>
      <a class="breadcrumb-item" href="javascript: void(0)">Products</a>
      <span class="breadcrumb-item active">Samsung Galaxy Z Fold3 5G 3 colors in 512GB</span>
    </nav>
    <div class="top_info">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tabl_slide_main">
            <!-- Nav tabs -->
            <div class="tab-content slides_main">
              <div role="tabpanel" class="tab-pane fade active show" id="product_1">
                <div class="slide_img">
                  <img src="../../../../assets/images/product-slide/product-details-1.png" alt="product detail" />
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="product_2">
                <div class="slide_img">
                  <img src="../../../../assets/images/product-slide/product-details-2.png" alt="product detail" />
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="product_3">
                <div class="slide_img">
                  <img src="../../../../assets/images/product-slide/product-details-3.png" alt="product detail" />
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="product_4">
                <div class="slide_img">
                  <img src="../../../../assets/images/product-slide/product-details-4.png" alt="product detail" />
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="product_5">
                <div class="slide_img">
                  <img src="../../../../assets/images/product-slide/product-details-5.png" alt="product detail" />
                </div>
              </div>
            </div>

            <!-- Tab panes -->
            <ul class="nav nav-tabs slides_thumb_main border-0" role="tablist">
              <li role="presentation">
                <a href="#product_1" aria-controls="home" role="tab" data-toggle="tab" class="active">
                  <span class="slide_thumb d-inline-block">
                    <img src="../../../../assets/images/product-slide/product-details-1.png" alt="thumb" alt="thumb"
                      class="w-100 h-100" />
                  </span>
                </a>
              </li>
              <li role="presentation">
                <a href="#product_2" aria-controls="profile" role="tab" data-toggle="tab">
                  <span class="slide_thumb d-inline-block">
                    <img src="../../../../assets/images/product-slide/product-details-2.png" alt="thumb" alt="thumb"
                      class="w-100 h-100" />
                  </span>
                </a>
              </li>
              <li role="presentation">
                <a href="#product_3" aria-controls="messages" role="tab" data-toggle="tab">
                  <span class="slide_thumb d-inline-block">
                    <img src="../../../../assets/images/product-slide/product-details-3.png" alt="thumb" alt="thumb"
                      class="w-100 h-100" />
                  </span>
                </a>
              </li>
              <li role="presentation">
                <a href="#product_4" aria-controls="settings" role="tab" data-toggle="tab">
                  <span class="slide_thumb d-inline-block">
                    <img src="../../../../assets/images/product-slide/product-details-4.png" alt="thumb" alt="thumb"
                      class="w-100 h-100" />
                  </span>
                </a>
              </li>
              <li role="presentation">
                <a href="#product_5" aria-controls="settings" role="tab" data-toggle="tab">
                  <span class="slide_thumb d-inline-block">
                    <img src="../../../../assets/images/product-slide/product-details-5.png" alt="thumb" alt="thumb"
                      class="w-100 h-100" />
                  </span>
                </a>
              </li>
            </ul>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="view_content">
            <h6>MOBILE PHONES</h6>
            <h3>Samsung Galaxy Z Fold3 5G 3 colors in 512GB</h3>
            <span class="reviews">
              <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5" class="rating"></ngb-rating>
              6 Reviews
            </span>
            <p class="price"><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
            <p class="description">It is a long established fact that a reader will be distracted by the readable there content of a page when looking at its layout.</p>
            <div class="inputer_box color_box">
              <strong>Color</strong>
              <p>
                <label for="rdo1" class="color_radio mr-3" title="default">
                  <input type="radio" name="color_rdo" id="rdo1">
                  <span class="color_span">
                    <span class="outer_border"></span>
                    <span class="inner_span"></span>
                  </span>
                </label>
                <label for="rdo2" class="color_radio mr-3" title="yellow">
                  <input type="radio" name="color_rdo" id="rdo2">
                  <span class="color_span">
                    <span class="outer_border" style="background-color: #FFBC63;"></span>
                    <span class="inner_span" style="background-color: #FFBC63;"></span>
                  </span>
                </label>
                <label for="rdo3" class="color_radio mr-3" title="blue">
                  <input type="radio" name="color_rdo" id="rdo3">
                  <span class="color_span">
                    <span class="outer_border" style="background-color: rgb(100, 158, 255);"></span>
                    <span class="inner_span" style="background-color: rgb(100, 158, 255);"></span>
                  </span>
                </label>
                <label for="rdo4" class="color_radio" title="red">
                  <input type="radio" name="color_rdo" id="rdo4">
                  <span class="color_span">
                    <span class="outer_border" style="background-color: rgb(255, 113, 115);"></span>
                    <span class="inner_span" style="background-color: rgb(255, 113, 115);"></span>
                  </span>
                </label>
              </p>
            </div>

            <div class="inputer_box">
              <mat-form-field class="w-100">
                <mat-label>Size</mat-label>
                <mat-select  name="food" appearance="outline">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="inputer_box mt-3">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="quantity">
                    <input type="text" class="form-control text-center" value="1"  />
                    <button class="quant_plus">+</button>
                    <button class="quant_minus">-</button>
                  </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 pl-0">
                  <button class="btn_wishlist">
                    <i class="fa fa-heart-o"></i>
                  </button>
                  <button class="btn btn-secondary btn-block btn-add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>

            <ul class="list-inline pl-0 mt-5 infos">
              <li><b>Category :</b> <span>Kitchen</span></li>
              <li><b>Tags :</b> <span>Beer, Foamer</span></li>
              <li><b>SKU :</b> <span>KE-91039</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bottom_view">
  <div class="container">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs listing_tabs" role="tablist">
        <li role="presentation"><a href="#description" class="active" role="tab" data-toggle="tab">Description</a></li>
        <li role="presentation"><a href="#reviews" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
        <li role="presentation"><a href="#sellerinfo" aria-controls="messages" role="tab" data-toggle="tab">Seller Info</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show description_box" id="description">
          <h3>Introduction</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the on leap into electronic typesetting, remaining essentially unchanged. It wasn’t popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, andei more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum to make a type specimen book.</p>
          <h3>Features :</h3>
          <ul>
            <li>slim body with metal cover</li>
            <li>latest Intel Core i5-1135G7 processor (4 cores / 8 threads)</li>
            <li>8GB DDR4 RAM and fast 512GB PCIe SSD</li>
            <li>NVIDIA GeForce MX350 2GB GDDR5 graphics card backlit keyboard, touchpad with gesture support</li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade reviews_section" id="reviews">
          <h4>Reviews</h4>
          <div class="card review_box mb-4">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="user_name d-flex">
                  <span class="user_image">
                    <img src="../../../../assets/images/user/comment-user-1.png" alt="user">
                  </span>
                  <span class="user_info">
                    <strong>Rafiqul Islam</strong>
                    <small>London,UK</small>
                  </span>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 text-right">
                <span class="reviews">
                  <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5" class="rating mr-2"></ngb-rating>
                  (5.0)
                </span>
              </div>
            </div>

            <div class="review_content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the redi 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the on leap into electronic typesetting, remaining London,UK</p>
            </div>
          </div>

          <div class="card review_box mb-4">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="user_name d-flex">
                  <span class="user_image">
                    <img src="../../../../assets/images/user/comment-user-1.png" alt="user">
                  </span>
                  <span class="user_info">
                    <strong>Rafiqul Islam</strong>
                    <small>London,UK</small>
                  </span>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 text-right">
                <span class="reviews">
                  <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5" class="rating mr-2"></ngb-rating>
                  (5.0)
                </span>
              </div>
            </div>

            <div class="review_content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the redi 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the on leap into electronic typesetting, remaining London,UK</p>
            </div>
          </div>

          <div class="card review_box mb-4">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="user_name d-flex">
                  <span class="user_image">
                    <img src="../../../../assets/images/user/comment-user-1.png" alt="user">
                  </span>
                  <span class="user_info">
                    <strong>Rafiqul Islam</strong>
                    <small>London,UK</small>
                  </span>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 text-right">
                <span class="reviews">
                  <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5" class="rating mr-2"></ngb-rating>
                  (5.0)
                </span>
              </div>
            </div>

            <div class="review_content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the redi 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the on leap into electronic typesetting, remaining London,UK</p>
            </div>
          </div>

          <div class="pagei d-flex align-items-center justify-content-end pt-4">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="javascript: void(0)"><i class="fa fa-angle-left"></i></a></li>
              <li class="page-item"><a class="page-link active" href="javascript: void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript: void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript: void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript: void(0)"><i class="fa fa-angle-right"></i></a></li>
           </ul>
          </div>
          
          <ng-container *ngIf="writeReview == true">
            <div class="write_review">
              <h4>Write Your Reviews</h4>
              <p><ngb-rating [(rate)]="writeRate" [readonly]="false" [max]="5" class="rating mr-2"></ngb-rating> (0.0)</p>
  
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                  <div class="form-group">
                    <label for="namefield" class="d-inline-block mb-3">Name*</label>
                    <input type="text" class="form-control" id="namefield" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                  <div class="form-group">
                    <label for="emailfield" class="d-inline-block mb-3">Email*</label>
                    <input type="email" class="form-control" id="emailfield" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                  <div class="form-group">
                    <label for="phoneNumber" class="d-inline-block mb-3">Phone Number*</label>
                    <input type="phone" class="form-control" id="phoneNumber" />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="messageField" class="d-inline-block mb-3">Message*</label>
                    <textarea type="text" class="form-control" id="messageField" style="min-height: 150px;max-height: 400px;"></textarea>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                  <button type="submit" class="btn btn-secondary btn-submit-review">Submit Review</button>
                </div>
              </div>
            </div>
          </ng-container>

          <button class="btn btn-secondary btn-block btn-write-review" [ngClass]="showBtnWriteReview ? 'hide-btn-write':''" (click)="showWriteReview()">Write Review</button>
        </div>
        <div role="tabpanel" class="tab-pane fade sellerinfo_section" id="sellerinfo">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="user_name d-flex">
                <span class="user_image">
                  <img src="../../../../assets/images/user/comment-user-1.png" alt="user">
                </span>
                <span class="user_info">
                  <strong>Rafiqul Islam</strong>
                  <small>London,UK</small>
                  <span class="reviews">
                    <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5" class="rating"></ngb-rating>
                    (4.5)
                  </span>
                </span>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <ul class="list-inline row highliths">
                <li class="col-lg-6 col-md-6 col-sm-6"><span class="key">Products</span>: <span class="value">120</span></li>
                <li class="col-lg-6 col-md-6 col-sm-6"><span class="key">Products</span>: <span class="value">120</span></li>
                <li class="col-lg-6 col-md-6 col-sm-6"><span class="key">Category</span>: <span class="value">Mobile Phone, Sports, Gaming, Electronics</span></li>
                <li class="col-lg-6 col-md-6 col-sm-6"><span class="key">Category</span>: <span class="value">Mobile Phone, Sports, Gaming, Electronics</span></li>
                <li class="col-lg-6 col-md-6 col-sm-6"><span class="key">Tags</span>: <span class="value">Beer, Foamer</span></li>
                <li class="col-lg-6 col-md-6 col-sm-6"><span class="key">Tags</span>: <span class="value">Beer, Foamer</span></li>
              </ul>
            </div>
          </div>
          <hr style="margin: 21px 0 25px;border-color: #dee2e6;">
          <h4 class="title">Product from Shop</h4>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-2.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-3.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-4.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-2.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-3.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-4.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-2.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-3.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
              <div class="product_box">
                <div class="image_portion">
                  <div class="product_image">
                    <img src="../../../../assets/images/products/product-image-4.jpg" alt="product image" />
                  </div>
                  <div class="product_inner">
                    <ul class="product_action">
                      <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                      <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
                    </ul>
                    <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
                  </div>
                </div>
      
                <div class="product_content mt-3">
                  <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
                  <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="related_product">
  <div class="container">
    <h4 class="title">Related Product</h4>
    <owl-carousel-o [options]="customOptions" class="theme-nav">
      <ng-template carouselSlide>
        <div class="product_box">
          <div class="image_portion">
            <div class="product_image">
              <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
            </div>
            <div class="product_inner">
              <ul class="product_action">
                <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
              </ul>
              <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
            </div>
          </div>

          <div class="product_content mt-3">
            <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
            <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="product_box">
          <div class="image_portion">
            <div class="product_image">
              <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
            </div>
            <div class="product_inner">
              <ul class="product_action">
                <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
              </ul>
              <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
            </div>
          </div>

          <div class="product_content mt-3">
            <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
            <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="product_box">
          <div class="image_portion">
            <div class="product_image">
              <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
            </div>
            <div class="product_inner">
              <ul class="product_action">
                <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
              </ul>
              <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
            </div>
          </div>

          <div class="product_content mt-3">
            <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
            <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="product_box">
          <div class="image_portion">
            <div class="product_image">
              <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
            </div>
            <div class="product_inner">
              <ul class="product_action">
                <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
              </ul>
              <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
            </div>
          </div>

          <div class="product_content mt-3">
            <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
            <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="product_box">
          <div class="image_portion">
            <div class="product_image">
              <img src="../../../../assets/images/products/product-image-1.jpg" alt="product image" />
            </div>
            <div class="product_inner">
              <ul class="product_action">
                <li><button class="btn_actions"><i class="fa fa-arrows-alt"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-heart-o"></i></button></li>
                <li><button class="btn_actions"><i class="fa fa-refresh"></i></button></li>
              </ul>
              <button class="btn btn-secondary btn-block btn-cart"><i class="fa fa-shopping-bag text-white mr-2"></i> Add to Cart</button>
            </div>
          </div>

          <div class="product_content mt-3">
            <h5 class="single-line" title="Women's Shirt Dress">Women's Shirt Dress</h5>
            <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>