<section class="section popular-sales">
  <div class="container">
    <div class="row align-items-center title-view-more">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h4 class="section_title">Popular Sales</h4>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 text-right">
        <a href="javascript: void(0)">View More <i class="fa fa-arrow-right ml-2"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="javascript: void(0)" class="d-block">
          <div class="sale_box">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-5">
                <img src="../../../../assets/images/product-img-1.jpg" alt="product" class="w-100">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7">
                <strong class="single-line mb-2">Xoggle aute et pariatur adipisicing nostrud et excepteur</strong>
                <p><del class="mr-2">$9.99</del><span class="text-danger">$6.99</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
