.section {
  padding: 15px 0px;
}

.single-line{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.title-view-more{
  margin-bottom: 25px;
}
.title-margin{
  margin-bottom: 25px;
}
.inner_page{
  background-color: #fff;
}