<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-md-12 text-center pb-3">
        <a href="javascript: void(0)"><img src="../../../../assets/images/logo.svg" alt="logo" /></a>
        <hr class="mt-4 mb-4">
      </div>
      <div class="col-lg-3 col-md-3 col-md-3">
        <h6>About Us</h6>
        <p class="w-75">We know there are a lot of threa developers our but we pride into a firm in the industry.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-md-3">
        <h6>Feature</h6>
        <ul class="list-inline">
          <li><a href="javascript: void(0)">About Us</a></li>
          <li><a href="javascript: void(0)">Terms Condition</a></li>
          <li><a href="javascript: void(0)">Best Products</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-md-3">
        <h6>General Links</h6>
        <ul class="list-inline">
          <li><a href="javascript: void(0)">Blog</a></li>
          <li><a href="javascript: void(0)">Tracking Order</a></li>
          <li><a href="javascript: void(0)">Become Seller</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-md-3">
        <h6>Helpful</h6>
        <ul class="list-inline">
          <li><a href="javascript: void(0)">Flash Sale</a></li>
          <li><a href="javascript: void(0)">FAQ</a></li>
          <li><a href="javascript: void(0)">Support</a></li>
        </ul>
      </div>
      <div class="col-lg-12 col-md-12 col-md-12 mt-5">
        <div class="copyright d-flex align-items-center justify-content-between border-top pt-3">
          <p class="mb-0">©2022 Quomodosoft All rights reserved</p>
          <span>
            <a href="javascript: void(0)" class="mr-3"><i class="fa fa-instagram"></i></a>
            <a href="javascript: void(0)" class="mr-3"><i class="fa fa-facebook"></i></a>
            <a href="javascript: void(0)"><i class="fa fa-twitter"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
