<section class="section shop_by_brand">
  <div class="container">
    <h4 class="section_title title-margin mb-5">Shop by Brand</h4>
    <div class="brand_main">
      <div class="row m-0">
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-1.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-2.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-3.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-4.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-5.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-6.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-7.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-8.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-9.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-10.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-11.png" alt="brand-image" />
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
          <a href="javascript: void(0)">
            <div class="brand_image">
              <img src="../../../../assets/images/brand/brand-12.png" alt="brand-image" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
