<div class="top_menue">
  <div class="container pt-3 pb-3">
    <div class="row d-flex align-items-center">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a class="navbar-brand" href="javascript: void(0)"><img src="../../../../assets/images/logo.svg" alt="logo" /></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <form class="form-inline w-100">
          <div class="form-group">
            <input type="text" class="form-control rounded-0 w-100" placeholder="Search" />
          </div>
          <button type="submit" class="btn btn-primary rounded-0">Search</button>
        </form>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 text-right">
        <ul class="list-inline top-buttons mb-0">
          <li class="list-inline-item mr-3">
            <a href="javascript: void(0)"><i class="fa fa-refresh" title="Compare"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="javascript: void(0)"><i class="fa fa-heart-o" title="like"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="javascript: void(0)"><i class="fa fa-shopping-basket" title="Cart"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="javascript: void(0)"><i class="fa fa-user" title="Login"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
