.user_name {
    align-items: center;
    justify-content: flex-start;

    .user_image {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
    }

    .user_info {
        display: flex;
        flex-flow: column wrap;
        padding-left: 15px;
        width: calc(100% - 50px);
    }

    .reviews {
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;

        .rating * {
            font-size: 20px;
        }
    }
}

.user_name {
    align-items: center;
    justify-content: flex-start;

    .user_image {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
    }

    .user_info {
        display: flex;
        flex-flow: column wrap;
        padding-left: 15px;
        width: calc(100% - 50px);
    }

    .reviews {
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        .rating {
            margin-right: 5px;
        }

        .rating * {
            font-size: 20px;
        }
    }
}